# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE
.idea/
*.iml
.vscode/
.settings
.project
.classpath

# Logs
*.log
logs/

# 上传文件
uploads/
*.tmp

# OS
.DS_Store
Thumbs.db
